html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue"*/
}



.body{
    padding: 90px 40px 0px 40px;
    max-width: 1200px;
    align-self: center;
    margin: auto;
}

div{
    box-sizing:border-box;
    overflow:auto
}

div .uploadDocs{
    width: 100%;
    padding-bottom: 15px;
}

.leftCol{
    padding: 8px 0px 8px 0px;
    width: 20%;
    float: left;
    height: 100%;

}

.midCol{
    padding: 8px 25px 8px 25px;
    text-align: justify;
    text-justify: inter-word;
    width: 60%;
    float: left;
    height: 100%;
    border-right: solid black 1px;
    border-left: solid black 1px;
}

.rightCol{
    width: 20%;
    float: left;
    height: 100%;
    padding: 8px 0px 8px 0px;

}

.headings{
    font-weight: 600;
    width: 100%;
    border-top: solid lightgray 1px;
    border-bottom: solid black 1px;
}

.singleDocument{
    padding: 10px 10px 10px 20px;
    border-bottom: solid darkgray 1px;
    display: block;
}
.documentDescription{
    font-size: 70%;
}

.viewOptions{
    align-content: center;
    padding-bottom: 10px;
    border-bottom: solid lightgray 1px;
}

.all{
    display: block;
    float: left;
    border-right: solid gray 1px;
    width: 30%;
    box-sizing:border-box;
    text-align: center;
}
.some{
    display: block;
    float: left;
    width: 70%;
    box-sizing:border-box;
    text-align: center;
}
div .data{
    height: 100%;
    width: 100%;
}

.cen{
    text-align: center;
}

.normalText{
    color: #484748;
}

an{
    color: #0070f6;
}